@tailwind base;
@tailwind components;
@tailwind utilities;

/* PrimeReact Theme */
@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
